// .eslintrc

{
  "env": {
    "browser": true,
    "node": true,
    "es6":true,
    "commonjs": true
  },
  "plugins": [
   "html"
 ],
  "extends": [
  	"standard",
  	"plugin:vue/recommended"
  ],
  
  //"extends": ["airbnb"],
  "globals": {
      "axios": true,
    },
    "settings": {
          "html/html-extensions": [".html"]
      },
  "parser": "vue",
  "parserOptions": {
  	"ecmaVersion": 7,
	"sourceType": "module",
	"parser": "babel-eslint"
	},
  "rules":{

  }
}